<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panel de control: "Torneos de La Banda del Lobo"</title>
    <link
      rel="shortcut icon"
      href="https://i.imgur.com/j6itbSk.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h2>Agregar un equipo</h2>
    <form action="/admin" method="post">
      <input type="text" placeholder="Nombre del Equipo" name="teamName" />
      <input type="text" placeholder="Escudo del Equipo" name="logo" />
      <button type="submit">Enviar</button>
    </form>

    <h2>Agregar un torneo</h2>
    <form action="/admin/tournaments" method="post">
      <input
        type="text"
        placeholder="Nombre del Torneo"
        name="tournamentName"
      />
      <input
        type="text"
        placeholder="Escudo del Torneo"
        name="tournamentLogo"
      />
      <input type="number" placeholder="Año del Torneo" name="tournamentYear" />
      <input type="text" placeholder="Playlist" name="tournamentPlaylist" />
      <button type="submit">Enviar</button>
    </form>

    <h2>Agregar un partido</h2>
    <form action="/admin/matches" method="post">
      <h3>Video</h3>
      <input type="text" placeholder="Video" name="video" />
      <div>
        <h3>Resultado</h3>
        <input type="text" placeholder="Local" name="home" />
        <input type="number" placeholder="Goles Local" name="homeScore" />
        <input type="number" placeholder="Goles Visitante" name="awayScore" />
        <input type="text" placeholder="Visitante" name="away" />
      </div>
      <div>
        <h3>ID del Torneo y Fase</h3>
        <input type="text" placeholder="ID del Torneo" name="tournament" />
        <input type="text" placeholder="Ronda" name="round" />
      </div>
      <h3>Penales</h3>
      <input
        type="checkbox"
        name="penalties"
        class="inline checkbox"
        id="checkbox1"
        value="penalties"
      />
      <input type="number" placeholder="Penales Local" name="penaltiesHome" />
      <input
        type="number"
        placeholder="Penales Visitante"
        name="penaltiesAway"
      />
      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
