<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= team %>: Torneos de "La Banda del Lobo"</title>
    <link
      rel="shortcut icon"
      href="https://i.imgur.com/j6itbSk.png"
      type="image/x-icon"
    />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>   
    
    <% if(teamInfo.length === 0){ %>
      <h1>Ese equipo no existe!</h1>
      <button type="button" onclick="location.href = '/equipos'">Ir a equipos</button>
  <% } else{ %>
    <% teamInfo.map((info)=>{ %>
      <div>
        <div class="team-title-info">
          <img src="<%= info.logo %>" alt="<%= info.teamName %>" width="120rem" height="120rem"/>
          <h1><%= info.teamName %></h1>
        </div>
      </div>
  
      <% }) %> 
  <% } %>

    

   

 
  </body>
</html>
