<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Torneos de La Banda del Lobo</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="team-grid">
      <% documents.map((document)=>{ %>
        <div class="team-item">
          <img width="150rem" height="150rem" src="<%= document.logo %>" alt="<%= document.teamName %>" />
        </div>      
      <% }) %>
    </div>
  </body>
</html>
