.team-item {
  display: flex;
  justify-content: center;
  transition: 1s;
}
.team-item:hover{
  transform: scale(1.05);
}

.team-title-info{
  display: flex;
  align-items: center;
  font-size: 4rem;
}


.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem ;
  padding: 1rem;
}

*{
padding: 0;
margin: 0;
}
