@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.team-item {
  display: flex;
  justify-content: center;
  transition: 1s;
}
.team-item:hover{
  transform: scale(1.05);
}

.team-title-info{
  display: flex;
  align-items: center;
  font-size: 3rem;
}


.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem ;
  padding: 1rem;
}

*{
padding: 0;
margin: 0;
font-family: 'Bebas Neue',cursive;
font-weight: lighter;
}

.tournament-year{
  font-size: 3rem;
}
